{% extends "layout.njk" %}

{% block content %}

    <div class="card table-box">

        <div class="header_teachers">

            <a class="edit" href="/teachers/create">Novo +</a>

            <form action="/teachers" method="GET">
                <input type="text"
                        name="filter" 
                        placeholder="Professor ou matéria"
                        value="{{filter}}"
                >

                <button type="submit">Filtrar</button>
            </form>
        </div>


        <table width="100%">
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Acompanhamento</th>
                    <th>Alunos</th>
                    <th>Ação</th>                    
                </tr>
            </thead>

            <tbody>

                {% for teacher in teachers %}
                <tr>
                    <td>                    
                        <span style="background-image: url({{teacher.avatar_url}})"></span> 
                        {{teacher.name}}
                    </td>

                    <td>
                    {% for subject in teacher.subjects_taught %}
                        <span>{{subject}}</span>
                    {% endfor %}
                    </td>

                    <td>{{teacher.total_students}}</td>

                    <td><a href="/teachers/{{teacher.id}}">ver</a></td>
                </tr>
                {% endfor %}

            </tbody>
        </table>

    </div>
    
{% endblock content %}