
Desafio Layout/node_modules/.bin/is-ci
*.cmd
Desafio Layout/node_modules/.bin/is-ci.ps1
Desafio Layout/node_modules/.bin/mime
Desafio Layout/node_modules/.bin/mime.ps1
Desafio Layout/node_modules/.bin/nodemon
Desafio Layout/node_modules/.bin/nodemon.ps1
Desafio Layout/node_modules/.bin/nodetouch
Desafio Layout/node_modules/.bin/nodetouch.ps1
Desafio Layout/node_modules/.bin/nopt
Desafio Layout/node_modules/.bin/nopt.ps1
Desafio Layout/node_modules/.bin/nunjucks-precompile
*.ps1
Desafio Layout/node_modules/.bin/rc
Desafio Layout/node_modules/.bin/semver
*.ts
*.js
*.map
Desafio Layout/node_modules/@sindresorhus/is/license
*.json
*.md
Desafio Layout/node_modules/@szmarczak/http-timer/LICENSE
Desafio Layout/node_modules/@types/color-name/LICENSE
Desafio Layout/node_modules/a-sync-waterfall/LICENSE
Desafio Layout/node_modules/abbrev/LICENSE
Desafio Layout/node_modules/accepts/LICENSE
Desafio Layout/node_modules/ansi-align/LICENSE
Desafio Layout/node_modules/ansi-align/node_modules/string-width/license
Desafio Layout/node_modules/ansi-regex/license
Desafio Layout/node_modules/ansi-styles/license
Desafio Layout/node_modules/anymatch/LICENSE
Desafio Layout/node_modules/array-flatten/LICENSE
Desafio Layout/node_modules/braces/LICENSE
Desafio Layout/node_modules/balanced-match/.npmignore
Desafio Layout/node_modules/content-type/LICENSE
*.markdown
Desafio Layout/node_modules/cookie-signature/.npmignore
*.yml
*.bnf
Desafio Layout/node_modules/keyv/LICENSE
Desafio Layout/node_modules/make-dir/node_modules/.bin/semver
Desafio Layout/node_modules/binary-extensions/license
Desafio Layout/node_modules/body-parser/LICENSE
Desafio Layout/node_modules/boxen/license
Desafio Layout/node_modules/brace-expansion/LICENSE
Desafio Layout/node_modules/bytes/LICENSE
Desafio Layout/node_modules/cacheable-request/LICENSE
Desafio Layout/node_modules/cacheable-request/node_modules/get-stream/license
Desafio Layout/node_modules/cacheable-request/node_modules/lowercase-keys/license
Desafio Layout/node_modules/camelcase/license
Desafio Layout/node_modules/chalk/license
Desafio Layout/node_modules/chalk/node_modules/has-flag/license
Desafio Layout/node_modules/chalk/node_modules/supports-color/license
Desafio Layout/node_modules/chokidar/LICENSE
Desafio Layout/node_modules/ci-info/LICENSE
Desafio Layout/node_modules/cli-boxes/license
Desafio Layout/node_modules/clone-response/LICENSE
Desafio Layout/node_modules/color-convert/LICENSE
Desafio Layout/node_modules/color-name/LICENSE
Desafio Layout/node_modules/commander/LICENSE
Desafio Layout/node_modules/concat-map/LICENSE
Desafio Layout/node_modules/configstore/license
Desafio Layout/node_modules/content-disposition/LICENSE
Desafio Layout/node_modules/cookie/LICENSE
Desafio Layout/node_modules/debug/Makefile
Desafio Layout/node_modules/crypto-random-string/license
Desafio Layout/node_modules/debug/.eslintrc
*.txt
Desafio Layout/node_modules/mime/.npmignore
Desafio Layout/node_modules/nodemon/.jscsrc
Desafio Layout/node_modules/nodemon/.jshintrc
Desafio Layout/node_modules/nopt/.npmignore
Desafio Layout/node_modules/nunjucks/.eslintignore
Desafio Layout/node_modules/nunjucks/.babelrc
Desafio Layout/node_modules/nunjucks/bin/precompile
Desafio Layout/node_modules/nunjucks/.gitattributes
*.html
Desafio Layout/node_modules/package-json/node_modules/.bin/semver
Desafio Layout/node_modules/qs/.editorconfig
Desafio Layout/node_modules/pstree.remy/tests/fixtures/out1
Desafio Layout/node_modules/pstree.remy/tests/fixtures/out2
Desafio Layout/node_modules/qs/.eslintignore
Desafio Layout/node_modules/qs/.eslintrc
Desafio Layout/node_modules/qs/test/.eslintrc
*.APACHE2
*.MIT
Desafio Layout/node_modules/term-size/vendor/.DS_Store
Desafio Layout/node_modules/term-size/vendor/macos/.DS_Store
*.exe
Desafio Layout/node_modules/term-size/vendor/macos/term-size
Desafio Layout/node_modules/undefsafe/.jscsrc
Desafio Layout/node_modules/typedarray-to-buffer/LICENSE
Desafio Layout/node_modules/utils-merge/.npmignore
Desafio Layout/node_modules/undefsafe/.jshintrc
Desafio Layout/node_modules/debug/.npmignore
Desafio Layout/node_modules/debug/LICENSE
Desafio Layout/node_modules/decompress-response/license
Desafio Layout/node_modules/deep-extend/LICENSE
Desafio Layout/node_modules/defer-to-connect/LICENSE
Desafio Layout/node_modules/depd/LICENSE
Desafio Layout/node_modules/destroy/LICENSE
Desafio Layout/node_modules/dot-prop/license
Desafio Layout/node_modules/ee-first/LICENSE
Desafio Layout/node_modules/encodeurl/LICENSE
Desafio Layout/node_modules/end-of-stream/LICENSE
Desafio Layout/node_modules/escape-goat/license
Desafio Layout/node_modules/escape-html/LICENSE
Desafio Layout/node_modules/etag/LICENSE
Desafio Layout/node_modules/express/LICENSE
Desafio Layout/node_modules/fill-range/LICENSE
Desafio Layout/node_modules/finalhandler/LICENSE
Desafio Layout/node_modules/forwarded/LICENSE
Desafio Layout/node_modules/fresh/LICENSE
Desafio Layout/node_modules/get-stream/license
Desafio Layout/node_modules/global-dirs/license
Desafio Layout/node_modules/glob-parent/LICENSE
Desafio Layout/node_modules/got/license
Desafio Layout/node_modules/graceful-fs/LICENSE
Desafio Layout/node_modules/has-flag/license
Desafio Layout/node_modules/has-yarn/license
Desafio Layout/node_modules/http-cache-semantics/LICENSE
Desafio Layout/node_modules/http-errors/LICENSE
Desafio Layout/node_modules/iconv-lite/LICENSE
Desafio Layout/node_modules/ignore-by-default/LICENSE
Desafio Layout/node_modules/import-lazy/license
Desafio Layout/node_modules/inherits/LICENSE
Desafio Layout/node_modules/ini/LICENSE
Desafio Layout/node_modules/is-binary-path/license
Desafio Layout/node_modules/is-ci/LICENSE
Desafio Layout/node_modules/is-extglob/LICENSE
Desafio Layout/node_modules/is-fullwidth-code-point/license
Desafio Layout/node_modules/is-glob/LICENSE
Desafio Layout/node_modules/is-installed-globally/license
Desafio Layout/node_modules/is-number/LICENSE
Desafio Layout/node_modules/is-npm/license
Desafio Layout/node_modules/is-obj/license
Desafio Layout/node_modules/is-path-inside/license
Desafio Layout/node_modules/is-yarn-global/LICENSE
Desafio Layout/node_modules/json-buffer/.npmignore
Desafio Layout/node_modules/json-buffer/LICENSE
Desafio Layout/node_modules/latest-version/license
Desafio Layout/node_modules/lowercase-keys/license
Desafio Layout/node_modules/make-dir/node_modules/semver/LICENSE
Desafio Layout/node_modules/make-dir/license
Desafio Layout/node_modules/media-typer/LICENSE
Desafio Layout/node_modules/merge-descriptors/LICENSE
Desafio Layout/node_modules/methods/LICENSE
Desafio Layout/node_modules/mime-db/LICENSE
Desafio Layout/node_modules/mime/LICENSE
Desafio Layout/node_modules/mime-types/LICENSE
Desafio Layout/node_modules/mimic-response/license
Desafio Layout/node_modules/minimatch/LICENSE
Desafio Layout/node_modules/minimist/LICENSE
Desafio Layout/node_modules/negotiator/LICENSE
Desafio Layout/node_modules/nodemon/LICENSE
Desafio Layout/node_modules/nodemon/node_modules/debug/LICENSE
Desafio Layout/node_modules/nopt/LICENSE
Desafio Layout/node_modules/normalize-path/LICENSE
Desafio Layout/node_modules/normalize-url/license
Desafio Layout/node_modules/nunjucks/LICENSE
Desafio Layout/node_modules/on-finished/LICENSE
Desafio Layout/node_modules/once/LICENSE
Desafio Layout/node_modules/p-cancelable/license
Desafio Layout/node_modules/package-json/license
Desafio Layout/node_modules/package-json/node_modules/semver/LICENSE
Desafio Layout/node_modules/parseurl/LICENSE
Desafio Layout/node_modules/path-to-regexp/LICENSE
Desafio Layout/node_modules/picomatch/LICENSE
Desafio Layout/node_modules/prepend-http/license
Desafio Layout/node_modules/proxy-addr/LICENSE
Desafio Layout/node_modules/pstree.remy/LICENSE
Desafio Layout/node_modules/pump/LICENSE
Desafio Layout/node_modules/pupa/license
Desafio Layout/node_modules/qs/LICENSE
Desafio Layout/node_modules/range-parser/LICENSE
Desafio Layout/node_modules/raw-body/LICENSE
Desafio Layout/node_modules/rc/LICENSE.BSD
Desafio Layout/node_modules/readdirp/LICENSE
Desafio Layout/node_modules/registry-auth-token/LICENSE
Desafio Layout/node_modules/registry-url/license
Desafio Layout/node_modules/responselike/LICENSE
Desafio Layout/node_modules/safe-buffer/LICENSE
Desafio Layout/node_modules/safer-buffer/LICENSE
Desafio Layout/node_modules/semver-diff/license
Desafio Layout/node_modules/semver-diff/node_modules/.bin/semver
Desafio Layout/node_modules/semver/bin/semver
Desafio Layout/node_modules/semver-diff/node_modules/semver/LICENSE
Desafio Layout/node_modules/semver/LICENSE
Desafio Layout/node_modules/send/LICENSE
Desafio Layout/node_modules/serve-static/LICENSE
Desafio Layout/node_modules/setprototypeof/LICENSE
Desafio Layout/node_modules/statuses/LICENSE
Desafio Layout/node_modules/string-width/license
Desafio Layout/node_modules/string-width/node_modules/ansi-regex/license
Desafio Layout/node_modules/string-width/node_modules/is-fullwidth-code-point/license
Desafio Layout/node_modules/string-width/node_modules/strip-ansi/license
Desafio Layout/node_modules/strip-ansi/license
Desafio Layout/node_modules/strip-json-comments/license
Desafio Layout/node_modules/supports-color/license
Desafio Layout/node_modules/term-size/license
Desafio Layout/node_modules/to-regex-range/LICENSE
Desafio Layout/node_modules/to-readable-stream/license
Desafio Layout/node_modules/toidentifier/LICENSE
Desafio Layout/node_modules/touch/LICENSE
Desafio Layout/node_modules/type-fest/license
Desafio Layout/node_modules/type-is/LICENSE
Desafio Layout/node_modules/undefsafe/.npmignore
Desafio Layout/node_modules/undefsafe/LICENSE
Desafio Layout/node_modules/unique-string/license
Desafio Layout/node_modules/unpipe/LICENSE
Desafio Layout/node_modules/update-notifier/license
Desafio Layout/node_modules/url-parse-lax/license
Desafio Layout/node_modules/utils-merge/LICENSE
Desafio Layout/node_modules/vary/LICENSE
Desafio Layout/node_modules/wrappy/LICENSE
Desafio Layout/node_modules/widest-line/license
Desafio Layout/node_modules/write-file-atomic/LICENSE
Desafio Layout/node_modules/xdg-basedir/license
