<div class="item">
                <div>Avatar URL</div>
                <div>
                    <input type="url"
                           name="avatar_url" 
                           placeholder="http://"
                           value= "{{student.avatar_url}}"
                           >
                </div>
            </div>

            <div class="item">
                <div>Estudante</div>
                <div>
                    <input type="text"
                           name="name"
                           placeholder="Nome Completo"
                           value="{{student.name}}"
                           >
                </div>
            </div>

            <div class="item">
                <div>Email</div>
                <div>
                    <input type="email"
                           name="email"
                           placeholder="@"
                           value="{{student.email}}"
                           >
                </div>
            </div>

             <div class="item">
                <div>Nascimento</div>
                <div>
                    <input type="date" 
                           name="birth_date"
                           value="{{student.birth_date}}"
                           >
                </div>
            </div>

            <div class="item">
                <div>Ano Escolar</div>
                <div>
                    <select name="grade">

                        <option 
                            value="5"
                            {% if student.grade == "5" %}
                                selected
                            {% endif %}>5º ano do Ensino Fundamental</option>

                        <option 
                            value="6"
                            {% if student.grade == "6" %}
                                selected
                            {% endif %}>6º ano do Ensino Fundamental</option>
                        
                        <option 
                            value="7"
                            {% if student.grade == "7" %}
                                selected
                            {% endif %}>7º ano do Ensino Fundamental</option>

                        <option 
                            value="8"
                            {% if student.grade == "8" %}
                                selected
                            {% endif %}>8º ano do Ensino Fundamental</option>

                        <option 
                            value="9"
                            {% if student.grade == "9" %}
                                selected
                            {% endif %}>9º ano do Ensino Fundamental</option>

                        <option 
                            value="1"
                            {% if student.grade == "1" %}
                                selected
                            {% endif %}>1º ano do Ensino Médio</option>

                        <option 
                            value="2"
                            {% if student.grade == "2" %}
                                selected
                            {% endif %}>2º ano do Ensino Médio</option>

                        <option 
                            value="3"
                            {% if student.grade == "3" %}
                                selected
                            {% endif %}>3º ano do Ensino Médio</option>
                    </select>
                </div>
            </div>

            <div class="item">
                <div>Carga Horária</div>
                <div>
                    <input type="number" 
                           name="course_load"
                           min="0"
                           value="{{student.course_load}}"
                           >
                </div>
            </div> 

            <div class="item">
                <div>Professor</div>
                <div>
                    <select name="teacher">

                    {% for teacher in teacherOptions %}
                        <option value="{{teacher.id}}" {% if student.teacher_id == teacher.id %}selected{% endif %}>{{teacher.name}}}</option>
                    {% endfor %}

                    </select>
                </div>
            </div>        

            <button type="submit">Salvar</button> 