<!DOCTYPE html>
<html>
    <head>
        
        {% block head %}
            <title>Private Lessons</title>
        {% endblock %}

        <link rel="stylesheet" href="/styles.css">    
        
    </head>

    <body>
        
        <header>
            <div class="links">
                <a href="/" class="active">teachers</a>
                <a href="/students">students</a>
            </div>
        </header>

        {% block content %}

        {% endblock %}
        
    </body>
</html>