{% extends "layout.njk" %}

    {% block content %}

    <form class="card" method="POST" action="/teachers">

        <section class="avatar" style="background: url(https://source.unsplash.com/collection/4852103/400x500) no-repeat center center / cover"></section>

        <section class="details">

            <h3>Cadastro</h3>

            <div class="item">
                <div>Avatar URL</div>
                <div>
                    <input type="url" name="avatar_url" placeholder="http://">
                </div>
            </div>

            <div class="item">
                <div>Professor(a)</div>
                <div>
                    <input type="text" name="nome" placeholder="Nome Completo">
                </div>
            </div>

             <div class="item">
                <div>Nascimento</div>
                <div>
                    <input type="date" name="nascimento">
                </div>
            </div>

            <div class="item">
                <div>Formação</div>
                <div>
                    <select name="formacao" placeholder="Selecione">
                        <option value="medio">Ensino Médio Completo</option>
                        <option value="superior">Ensino Superior Completo</option>
                        <option value="mestrado">Mestrado</option>
                        <option value="doutorado">Doutorado</option>
                    </select>
                </div>
            </div>

             <div class="item">
                <div>Modo de Aula</div>
                <div>
                    <span><input type="radio" name="modalidade" value="presencial" checked>Presencial</span>
                    <span><input type="radio" name="modalidade" value="distancia">À distância</span>
                </div>
            </div>

            <div class="item">
                <div>Área de atuação</div>
                <div>
                    <input type="text" name="materias" placeholder="Separe por vírgula as materias de atuação">
                </div>
            </div> 

            <button type="submit">Salvar</button>           

        </section>

    </form>

    {% endblock %}