{% extends "layout.njk" %}

{% block content %}

    <div class="card">

        <table>
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Acompanhamento</th>                    
                </tr>
            </thead>

            <tbody>

                {% for teacher in teachers %}
                <tr>
                    <td>{{teacher.nome}}</td>
                    <td>{{teacher.materias}}</td>
                </tr>
                {% endfor %}
                
            </tbody>
        </table>

    </div>
    
{% endblock content %}