
#mostrador {
    width: 240px;
    padding: 32px 0;    
    margin: 0 auto;

    display: flex;
}

.tabuleiro {
    width: 240px; 
    height: 240px;
    
    margin: 0 auto;
}

.space {
    width: 80px;
    height: 80px;

    border: 2px solid #000;
    float: left;    

    text-align: center;
    padding-top: 12px;

    box-sizing: border-box;
}

#restart {
    width: 240px;
    height: 300px;
    padding: 24px;

    margin: 0 auto;

    box-sizing: border-box;

    text-align: center;
}

#restart button {
    font-size: 18px;
}

#restart p {
    font-size: 18px;
    color: blue;
}